<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="signatureValidationMode" value="require" />
  </config>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="WixToolset.Sdk" />
    </packageSource>
  </packageSourceMapping>
  <trustedSigners>
    <author name="FireGiant">
      <certificate fingerprint="D95336DD2022934D80E3F3A4F938DD66EC7076BBBA680F76C11F2B54B346D61D"
                   hashAlgorithm="SHA256"
                   allowUntrustedRoot="false" />
    </author>
  </trustedSigners>
</configuration>
